<%
const headerWhite = require('./layouts/basic/header-white.ejs');
const footer = require('./layouts/basic/footer.ejs');

%>

<%- headerWhite()-%>
<main class="page">
    <section class="section">
        <div class="main-screen layout">
            <div class="main-screen__bg">
                <video muted loop playsinline src="videos/showreel_website_main.mp4" class="js-video-mainscreen"></video>
            </div>
            <div class="container">
                <div class="main-screen__body">
                    <div class="main-screen__row">
                        <div class="bradcrumbs anim-opacity js-scroll-observe-el">
                            <ul>
                                <li>
                                    <a href="./main.html">Home</a>
                                </li>
                                <li>
                                    <span>About</span>
                                </li>
                            </ul>
                        </div>
                        <div class="main-screen__title">
                            <div class="fs-160 title overflow-hidden js-scroll-observe-el">
                                <div class="anim-up-from-overflow js-scroll-observe-el-inner">
                                    We create
                                </div>
                            </div>
                            <div class="fs-20 main-screen__desc anim-opacity delay-1 js-scroll-observe-el">Full cycle agency that turns vision into income</div>
                        </div>
                        <div class="main-screen__slider-block fs-160 title overflow-hidden js-scroll-observe-el">
                            <div class="swiper js-titles-slider main-screen__slider anim-up-from-overflow delay-05 js-scroll-observe-el-inner">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        video production
                                    </div>
                                    <div class="swiper-slide">
                                        UX/UI design
                                    </div>
                                    <div class="swiper-slide">
                                        development
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fs-20 main-screen__desc _mobile">Full cycle agency that turns vision into income</div>
                    </div>
                    <div class="main-screen__scroll fs-20 anim-opacity delay-1 c-grey-2 js-scroll-observe-el">Scroll down</div>
                </div>

            </div>


        </div>
    </section>
    <section class="section section--mobile-normal">
        <div class="info-screen layout">
            <div class="container">
                <div class="section__head mb-80">
                    <div class="fs-70 title">
                        <div class="overflow-hidden js-scroll-observe-el">
                            <div class="anim-up-from-overflow js-scroll-observe-el-inner" data-duration="0.5">Turn your vision</div>
                        </div>
                        <div class="overflow-hidden js-scroll-observe-el">
                            <div class="anim-up-from-overflow js-scroll-observe-el-inner" data-duration="0.5" data-delay="0.5">into income</div>
                        </div>
                    </div>
                </div>
                <div class="info-screen__body" >

                    <div class="info-screen__img overflow-hidden js-scroll-observe-el">
                        <img class="anim-down-from-overflow js-scroll-observe-el-inner" data-duration="0.5" data-delay="0.5" loading="lazy" src="images/content/content-img-01.jpg" alt="">
                    </div>
                    <div class="info-screen__text anim-opacity js-scroll-observe-el" data-duration="0.5" data-delay="0.5" data-ratio="0.5">
                        <p class="fs-20">LevelPro is a full cycle agency for b2c and b2b clients. We believe in the power of visual messages, meaningful design and strong web-development</p>
                        <a href="#" class="hover-line btn c-red">
                            Read about us
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H19.6497M13.5 18.75L20.25 12L13.5 5.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-red">
        <div class="professionals-screen layout container anim-opacity delay-05 js-scroll-observe-el" data-ratio="0.5">
            <div class="professionals-screen__text fs-120 title">
                We are&nbsp;<img src="images/content/professionals-01.jpg" alt="">&nbsp;professionals capable of working in various&nbsp;<img src="images/content/professionals-02.jpg" alt="">&nbsp;fields and creating uniqueness
            </div>
            <div class="professionals-screen__list">
                <div class="fs-20">Integrated approach</div>
                <div class="fs-20">Agility</div>
                <div class="fs-20">Full cycle</div>
            </div>
        </div>
    </section>
    <section class="section section--mobile-normal">
        <div class="our-team layout container">
            <div class="section__head mb-80">
                <div class="fs-70 title">
                    <div class="overflow-hidden js-scroll-observe-el">
                        <div class="anim-up-from-overflow js-scroll-observe-el-inner">Our team</div>
                    </div>
                </div>
            </div>

            <div class="our-team__row">
                <a href="#" class="our-team__item anim-opacity delay-03 js-scroll-observe-el" data-ratio="0.3">
                    <div class="our-team__img">
                        <img loading="lazy" src="images/content/our-team-01.jpg" alt="">
                    </div>
                    <div class="our-team__desc">
                        <div class="fs-24 fw-500">
                            Nikolay
                        </div>
                        <div class="fs-20 c-black-4">
                            CEO
                        </div>
                    </div>
                </a>
                <a href="#" class="our-team__item anim-opacity delay-03 js-scroll-observe-el" data-ratio="0.3">
                    <div class="our-team__img">
                        <img loading="lazy" src="images/content/our-team-02.jpg" alt="">
                    </div>
                    <div class="our-team__desc">
                        <div class="fs-24 fw-500">
                            Georgyy
                        </div>
                        <div class="fs-20 c-black-4">
                            CEO
                        </div>
                    </div>
                </a>
                <a href="#" class="our-team__item anim-opacity delay-03 js-scroll-observe-el" data-ratio="0.3">
                    <div class="our-team__img">
                        <img loading="lazy" src="images/content/our-team-03.jpg" alt="">
                    </div>
                    <div class="our-team__desc">
                        <div class="fs-24 fw-500">
                            Elena
                        </div>
                        <div class="fs-20 c-black-4">
                            Creative director / copywriter
                        </div>
                    </div>
                </a>
                <a href="#" class="our-team__item anim-opacity delay-03 js-scroll-observe-el" data-ratio="0.3">
                    <div class="our-team__img">
                        <img loading="lazy" src="images/content/our-team-04.jpg" alt="">
                    </div>
                    <div class="our-team__desc">
                        <div class="fs-24 fw-500">
                            Anastasia
                        </div>
                        <div class="fs-20 c-black-4">
                            HR / account manager
                        </div>
                    </div>
                </a>
                <a href="#" class="our-team__item anim-opacity delay-03 js-scroll-observe-el" data-ratio="0.3">
                    <div class="our-team__img">
                        <img loading="lazy" src="images/content/our-team-05.jpg" alt="">
                    </div>
                    <div class="our-team__desc">
                        <div class="fs-24 fw-500">
                            Eleonora
                        </div>
                        <div class="fs-20 c-black-4">
                            Visual creator / account manager
                        </div>
                    </div>
                </a>
                <a href="#" class="our-team__item anim-opacity delay-03 js-scroll-observe-el" data-ratio="0.3">
                    <div class="our-team__img">
                        <img loading="lazy" src="images/content/our-team-06.jpg" alt="">
                    </div>
                    <div class="our-team__desc">
                        <div class="fs-24 fw-500">
                            Kirill
                        </div>
                        <div class="fs-20 c-black-4">
                            UX/UI designer
                        </div>
                    </div>
                </a>
                <a href="#" class="our-team__item anim-opacity delay-03 js-scroll-observe-el" data-ratio="0.3">
                    <div class="our-team__img">
                        <img loading="lazy" src="images/content/our-team-07.jpg" alt="">
                    </div>
                    <div class="our-team__desc">
                        <div class="fs-24 fw-500">
                            Daria
                        </div>
                        <div class="fs-20 c-black-4">
                            UX/UI designer
                        </div>
                    </div>
                </a>
                <a href="#" class="our-team__item anim-opacity delay-03 js-scroll-observe-el" data-ratio="0.3">
                    <div class="our-team__img">
                        <img loading="lazy" src="images/content/our-team-07.jpg" alt="">
                    </div>
                    <div class="our-team__desc">
                        <div class="fs-24 fw-500">
                            Daria
                        </div>
                        <div class="fs-20 c-black-4">
                            UX/UI designer
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="section section--mobile-normal">
        <div class="industry-screen layout container">
            <div class="industry-screen__head">
                <div class="title fs-100">
                    <div class="overflow-hidden js-scroll-observe-el">
                        <div class="anim-up-from-overflow js-scroll-observe-el-inner">Industry leaders trust us</div>
                    </div>
                </div>
                <div class="industry-screen__head-text fs-20 c-grey anim-opacity delay-05 js-scroll-observe-el">
                    Over the years LvlPro has earned a reputation of a trustworthy and professional team. We have clients from different spheres, which makes us flexible and always fresh for your boldest ideas
                </div>
            </div>
            <div class="industry-screen__row anim-opacity delay-05 js-scroll-observe-el" data-ratio="0.5">
                <div class="industry-screen__item">
                    <div class="industry-screen__img">
                        <img loading="lazy" src="images/content/afterpay.svg" alt="">
                    </div>
                    <div class="fs-20 c-black">Afterpay Corp.</div>
                </div>
                <div class="industry-screen__item">
                    <div class="industry-screen__img">
                        <img loading="lazy" src="images/content/airbnb.svg" alt="">
                    </div>
                    <div class="fs-20 c-black">Airbnb</div>
                </div>
                <div class="industry-screen__item">
                    <div class="industry-screen__img">
                        <img loading="lazy" src="images/content/asana.svg" alt="">
                    </div>
                    <div class="fs-20 c-black">Asana</div>
                </div>
                <div class="industry-screen__item">
                    <div class="industry-screen__img">
                        <img loading="lazy" src="images/content/booking.svg" alt="">
                    </div>
                    <div class="fs-20 c-black">Booking</div>
                </div>
                <div class="industry-screen__item">
                    <div class="industry-screen__img">
                        <img loading="lazy" src="images/content/dici.svg" alt="">
                    </div>
                    <div class="fs-20 c-black">Codici</div>
                </div>
                <div class="industry-screen__item">
                    <div class="industry-screen__img">
                        <img loading="lazy" src="images/content/level.svg" alt="">
                    </div>
                    <div class="fs-20 c-black">Level</div>
                </div>
            </div>

        </div>
    </section>
</main>
<div class="overlay-page _before" style="position: fixed;left: 0;width: 100%;height: 100%;z-index: 100;background-color: #222222; top: 100%"></div>
<div class="overlay-page _after" style="position: fixed;left: 0;width: 100%;height: 100%;z-index: 100;background-color: #222222; top: 0"></div>
<%- footer() -%>


