<%
const preloader = require('./components/preloader.ejs');
const headerWhite = require('./layouts/basic/header-white.ejs');
const footer = require('./layouts/basic/footer.ejs');

%>

<%- headerWhite()-%>
<%- preloader()-%>
<main class="page">
    <section class="section">
        <div class="main-screen layout">
            <div class="main-screen__bg">
                <video muted loop playsinline src="videos/showreel_website_main.mp4" oncanplay="this.videoCanPlay = true" class="js-video-mainscreen"></video>
            </div>
            <div class="container">
                <div class="main-screen__body">
                    <div class="main-screen__row">
                        <div class="main-screen__title">
                            <div class="fs-160 title overflow-hidden js-scroll-observe-el">
                                <div class="anim-up-from-overflow js-scroll-observe-el-inner" data-duration="0.5">
                                    We create
                                </div>
                            </div>
                            <div class="fs-20 main-screen__desc anim-opacity js-scroll-observe-el" data-duration="0.5" data-delay="1">Full cycle agency that turns vision into income</div>
                        </div>
                        <div class="overflow-hidden js-scroll-observe-el">
                            <div class="swiper fs-160 title js-titles-slider main-screen__slider anim-up-from-overflow js-scroll-observe-el-inner" data-duration="0.5" data-delay="0.5">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        video production
                                    </div>
                                    <div class="swiper-slide">
                                        UX/UI design
                                    </div>
                                    <div class="swiper-slide">
                                        development
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fs-20 main-screen__desc _mobile">Full cycle agency that turns vision into income</div>
                    </div>
                    <div class="main-screen__scroll fs-20 anim-opacity c-grey-2 js-scroll-observe-el" data-duration="0.5" data-delay="1">Scroll down</div>
                </div>

            </div>


        </div>
    </section>
    <section class="section section--mobile-normal">
        <div class="info-screen layout">
            <div class="container">
                <div class="section__head mb-80">
                    <div class="fs-70 title">
                        <div class="overflow-hidden js-scroll-observe-el">
                            <div class="anim-up-from-overflow js-scroll-observe-el-inner" data-duration="0.5">Turn your vision</div>
                        </div>
                        <div class="overflow-hidden js-scroll-observe-el">
                            <div class="anim-up-from-overflow js-scroll-observe-el-inner" data-duration="0.5" data-delay="0.5">into income</div></div>
                    </div>
                </div>
                <div class="info-screen__body anim-opacity js-scroll-observe-el" data-duration="0.5" data-delay="0.5" data-ratio="0.5">
                    <div class="info-screen__img">
                        <img loading="lazy" src="images/content/content-img-01.jpg" alt="">
                    </div>
                    <div class="info-screen__text">
                        <p class="fs-20">LevelPro is a full cycle agency for b2c and b2b clients. We believe in the power of visual messages, meaningful design and strong web-development</p>
                        <a href="#" class="hover-line btn c-red">
                            Read about us
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H19.6497M13.5 18.75L20.25 12L13.5 5.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="horizontal-section">
        <section class="section section--horizontal section-horizontal-1 section--mobile-normal js-video-block">
            <div class="info-screen layout">
                <div class="container">
                    <div class="info-screen__head mb-80">
                        <div class="fs-70 title">Latest projects</div>
                        <a href="#" class="hover-line btn c-red">
                            View all projects
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H19.6497M13.5 18.75L20.25 12L13.5 5.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"/>
                            </svg>
                        </a>
                    </div>
                    <div class="info-screen__body">
                        <div class="info-screen__video-row section-horizontal-1__video">
                            <div class="info-screen__video-item">
                                <div class="info-screen__video-bx">
                                    <video preload="none" muted loop playsinline autoplay src="videos/content-video-01.webm"></video>
                                </div>
                                <div class="info-screen__video-text">
                                    <div class="fs-20">Codici</div>
                                    <div class="fs-20 c-grey">Video production</div>
                                </div>
                            </div>
                            <div class="info-screen__video-item">
                                <div class="info-screen__video-bx">
                                    <video preload="none" muted loop playsinline autoplay src="videos/content-video-02.webm"></video>
                                </div>
                                <div class="info-screen__video-text">
                                    <div class="fs-20">Codici</div>
                                    <div class="fs-20 c-grey">Video production</div>
                                </div>
                            </div>
                            <div class="info-screen__video-item">
                                <div class="info-screen__video-bx">
                                    <video preload="none" muted loop playsinline autoplay src="videos/content-video-03.webm"></video>
                                </div>
                                <div class="info-screen__video-text">
                                    <div class="fs-20">Codici</div>
                                    <div class="fs-20 c-grey">Video production</div>
                                </div>
                            </div>
                            <div class="info-screen__video-item">
                                <div class="info-screen__video-bx">
                                    <video preload="metadata" muted loop playsinline autoplay src="videos/content-video-04.webm"></video>
                                </div>
                                <div class="info-screen__video-text">
                                    <div class="fs-20">Codici</div>
                                    <div class="fs-20 c-grey">Video production</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="section section--horizontal section-horizontal-2 bg-black js-what-we-do">
            <div class="container">
                <div class="what-we-do fs-hyper title js-what-we-do__row">
                    What we do
                </div>
            </div>

        </section>
        <section class="section section--vertical section-vertical-1 bg-black-2">
            <div class="create-screen layout c-white">
                <div class="container">
                    <div class="create-screen__row">
                        <div class="create-screen__title title fs-160 overflow-hidden js-scroll-observe-el">
                            <div class="anim-up-from-overflow js-scroll-observe-el-inner" data-duration="0.5">Design</div>
                        </div>
                        <div class="create-screen__content">
                            <div class="fs-20 c-grey anim-opacity js-scroll-observe-el" data-duration="0.5" data-delay="0.5" >
                                We conduct deep analysis and develop unique designs focusing on usability and core values of your brand
                            </div>
                            <ul class="create-screen__list anim-opacity js-scroll-observe-el" data-duration="0.5" data-delay="1">
                                <li>Branding</li>
                                <li>Identity</li>
                                <li>UX/UI design</li>
                            </ul>
                        </div>
                        <div class="create-screen__background">
                            <div class="create-screen__img create-screen__img--1 overflow-hidden js-scroll-observe-el">
                                <img class="anim-down-from-overflow js-scroll-observe-el-inner" data-duration="0.5" data-delay="0.5" loading="lazy" src="images/content/background-img-01.jpg" alt="">
                            </div>
                            <div class="create-screen__img create-screen__img--2 overflow-hidden js-scroll-observe-el">
                                <img class="anim-down-from-overflow js-scroll-observe-el-inner" data-duration="0.5" data-delay="0.5" loading="lazy" src="images/content/background-img-02.jpg" alt="">
                            </div>
                            <div class="create-screen__img create-screen__img--3 overflow-hidden js-scroll-observe-el">
                                <img class="anim-down-from-overflow js-scroll-observe-el-inner" data-duration="0.5" data-delay="1" loading="lazy" src="images/content/background-img-03.jpg" alt="">
                            </div>
                        </div>
                        <div class="create-screen__labels anim-opacity js-scroll-observe-el" data-duration="0.5" data-delay="1.5">
                            <div class="create-screen__label">
                                Figma
                            </div>
                            <div class="create-screen__label">
                                Adobe Photoshop
                            </div>
                            <div class="create-screen__label">
                                Adobe Illustrator
                            </div>
                            <div class="create-screen__label">
                                Adobe After Effects
                            </div>
                            <div class="create-screen__label">
                                Sketch
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="section section--vertical section-vertical-2 bg-black-3">
            <div class="create-screen layout c-white">
                <div class="container">
                    <div class="create-screen__row">
                        <div class="create-screen__title title fs-160">
                            Design
                        </div>
                        <div class="create-screen__content">
                            <div class="fs-20 c-grey">
                                We conduct deep analysis and develop unique designs focusing on usability and core values of your brand
                            </div>
                            <ul class="create-screen__list">
                                <li>Branding</li>
                                <li>Identity</li>
                                <li>UX/UI design</li>
                            </ul>
                        </div>
                        <div class="create-screen__background">
                            <div class="create-screen__img create-screen__img--1">
                                <img loading="lazy" src="images/content/background-img-01.jpg" alt="">
                            </div>
                            <div class="create-screen__img create-screen__img--2">
                                <img loading="lazy" src="images/content/background-img-02.jpg" alt="">
                            </div>
                            <div class="create-screen__img create-screen__img--3">
                                <img loading="lazy" src="images/content/background-img-03.jpg" alt="">
                            </div>
                        </div>
                        <div class="create-screen__labels">
                            <div class="create-screen__label">
                                Figma
                            </div>
                            <div class="create-screen__label">
                                Adobe Photoshop
                            </div>
                            <div class="create-screen__label">
                                Adobe Illustrator
                            </div>
                            <div class="create-screen__label">
                                Adobe After Effects
                            </div>
                            <div class="create-screen__label">
                                Sketch
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="section section--vertical section-vertical-3 bg-black-4">
            <div class="create-screen layout c-white">
                <div class="container">
                    <div class="create-screen__row">
                        <div class="create-screen__title title fs-160">
                            Design
                        </div>
                        <div class="create-screen__content">
                            <div class="fs-20 c-grey">
                                We conduct deep analysis and develop unique designs focusing on usability and core values of your brand
                            </div>
                            <ul class="create-screen__list">
                                <li>Branding</li>
                                <li>Identity</li>
                                <li>UX/UI design</li>
                            </ul>
                        </div>
                        <div class="create-screen__background">
                            <div class="create-screen__img create-screen__img--1">
                                <img loading="lazy" src="images/content/background-img-01.jpg" alt="">
                            </div>
                            <div class="create-screen__img create-screen__img--2">
                                <img loading="lazy" src="images/content/background-img-02.jpg" alt="">
                            </div>
                            <div class="create-screen__img create-screen__img--3">
                                <img loading="lazy" src="images/content/background-img-03.jpg" alt="">
                            </div>
                        </div>
                        <div class="create-screen__labels">
                            <div class="create-screen__label">
                                Figma
                            </div>
                            <div class="create-screen__label">
                                Adobe Photoshop
                            </div>
                            <div class="create-screen__label">
                                Adobe Illustrator
                            </div>
                            <div class="create-screen__label">
                                Adobe After Effects
                            </div>
                            <div class="create-screen__label">
                                Sketch
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</main>
<div class="overlay-page _before" style="position: fixed;left: 0;width: 100%;height: 100%;z-index: 100;background-color: #222222; top: 100%"></div>
<%- footer() -%>


