<%
const headerWhite = require('./layouts/basic/header-white.ejs');
const footer = require('./layouts/basic/footer.ejs'); 
%>

<%- headerWhite()-%>
<main class="page">
<!--    <section class="section section1">-->
<!--        <h2>ONE</h2>-->
<!--    </section>-->
<!--    <section class="section section1">-->
<!--        <h2>TWO</h2>-->
<!--    </section>-->
<!--    <div class="section-wrapper">-->
<!--        <section class="section section1 section-horizontal1">-->
<!--            <h2>What we do</h2>-->
<!--        </section>-->
<!--        <section class="section section1 section-horizontal2">-->
<!--            <h2>FOUR FOUR FOUR</h2>-->
<!--        </section>-->
<!--        <section class="section section1 section-vertical">-->
<!--            <h2>FIVE</h2>-->
<!--        </section>-->
<!--        <section class="section section1 section-vertical2" style="background: green !important;">-->
<!--            <h2>SIX</h2>-->
<!--        </section>-->
<!--    </div>-->
    <div id="pinContainer">
        <section class="panel blue">
            <b>ONE</b>
        </section>
        <section class="panel turqoise">
            <b>TWO</b>
        </section>
        <section class="panel green">
            <b>THREE</b>
        </section>
        <section class="panel bordeaux">
            <b>FOUR</b>
        </section>
    </div>
</main>
<%- footer() -%>


