<%
const preloader = require('./components/preloader.ejs');
const headerWhite = require('./layouts/basic/header-white.ejs');
const footer = require('./layouts/basic/footer.ejs');

%>

<%- headerWhite()-%>
<%- preloader()-%>
<main class="page">
    <section class="section">
        <div class="main-screen layout layout--half">
            <div class="main-screen__bg">
                <video muted loop playsinline src="videos/showreel_website_main.mp4" class="js-video-mainscreen"></video>
            </div>
            <div class="container">
                <div class="main-screen__body">
                    <div class="main-screen__row">
                        <div class="main-screen__title">
                            <div class="fs-160 title overflow-hidden js-scroll-observe-el">
                                <div class="anim-up-from-overflow js-scroll-observe-el-inner">
                                    We create
                                </div>
                            </div>
                            <div class="fs-20 main-screen__desc anim-opacity delay-1 js-scroll-observe-el">Full cycle agency that turns vision into income</div>
                        </div>
                        <div class="main-screen__slider-block fs-160 title overflow-hidden js-scroll-observe-el">
                            <div class="swiper js-titles-slider main-screen__slider anim-up-from-overflow delay-03 js-scroll-observe-el-inner">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        video production
                                    </div>
                                    <div class="swiper-slide">
                                        UX/UI design
                                    </div>
                                    <div class="swiper-slide">
                                        development
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fs-20 main-screen__desc _mobile">Full cycle agency that turns vision into income</div>
                    </div>
                    <div class="main-screen__scroll fs-20 c-grey-2 anim-opacity delay-1 js-scroll-observe-el">Scroll down</div>
                </div>

            </div>


        </div>
    </section>
    <section class="section section--mobile-normal">
        <div class="info-screen layout">
            <div class="container">
                <div class="section__head mb-80">
                    <div class="fs-70 title">
                        <div class="overflow-hidden js-scroll-observe-el">
                            <div class="anim-up-from-overflow js-scroll-observe-el-inner">Turn your vision</div>
                        </div>
                        <div class="overflow-hidden js-scroll-observe-el">
                            <div class="anim-up-from-overflow delay-03 js-scroll-observe-el-inner">into income</div></div>
                    </div>
                </div>
                <div class="info-screen__body" >

                    <div class="info-screen__img bg-white anim-down-from-overflow delay-03 overflow-hidden js-scroll-observe-el">
                        <img loading="lazy" src="images/content/content-img-01.jpg" alt="">
                    </div>
                    <div class="info-screen__text anim-opacity delay-03 js-scroll-observe-el" data-ratio="0.5">
                        <p class="fs-20">LevelPro is a full cycle agency for b2c and b2b clients. We believe in the power of visual messages, meaningful design and strong web-development</p>
                        <a href="#" class="hover-line btn c-red">
                            Read about us
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H19.6497M13.5 18.75L20.25 12L13.5 5.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="horizontal-section">
        <section class="section section--horizontal section-horizontal-1 section--mobile-normal js-video-block">
            <div class="info-screen layout">
                <div class="container">
                    <div class="info-screen__head mb-80">
                        <div class="fs-70 title">
                            <div class="overflow-hidden js-scroll-observe-el">
                                <div class="anim-up-from-overflow js-scroll-observe-el-inner">Latest projects</div>
                            </div>
                        </div>
                        <a href="#" class="hover-line btn c-red info-screen__head-link  anim-opacity delay-03 js-scroll-observe-el">
                            View all projects
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H19.6497M13.5 18.75L20.25 12L13.5 5.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"/>
                            </svg>
                        </a>
                    </div>
                    <div class="info-screen__body anim-opacity delay-05 js-scroll-observe-el" data-ratio="0">
                        <div class="info-screen__video-row section-horizontal-1__video" >
                            <a href="#" class="info-screen__video-item">
                                <div class="info-screen__video-bx">
                                    <video class="lazyload" muted loop playsinline autoplay data-src="videos/content-video-01.webm" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></video>
                                </div>
                                <div class="info-screen__video-text">
                                    <div class="fs-20">Codici</div>
                                    <div class="fs-20 c-grey">Video production</div>
                                </div>
                            </a>
                            <a href="#" class="info-screen__video-item">
                                <div class="info-screen__video-bx">
                                    <video class="lazyload" muted loop playsinline autoplay data-src="videos/content-video-02.webm" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></video>
                                </div>
                                <div class="info-screen__video-text">
                                    <div class="fs-20">Codici</div>
                                    <div class="fs-20 c-grey">Video production</div>
                                </div>
                            </a>
                            <a href="#" class="info-screen__video-item">
                                <div class="info-screen__video-bx">
                                    <video class="lazyload" muted loop playsinline autoplay data-src="videos/content-video-03.webm" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></video>
                                </div>
                                <div class="info-screen__video-text">
                                    <div class="fs-20">Codici</div>
                                    <div class="fs-20 c-grey">Video production</div>
                                </div>
                            </a>
                            <a href="#" class="info-screen__video-item">
                                <div class="info-screen__video-bx">
                                    <video class="lazyload" muted loop playsinline autoplay data-src="videos/content-video-04.webm" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></video>
                                </div>
                                <div class="info-screen__video-text">
                                    <div class="fs-20">Codici</div>
                                    <div class="fs-20 c-grey">Video production</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a href="#" class="hover-line btn c-red info-screen__head-link info-screen__head-link--mobile anim-opacity delay-03 js-scroll-observe-el">
                        View all projects
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 12H19.6497M13.5 18.75L20.25 12L13.5 5.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"/>
                        </svg>
                    </a>
                </div>
            </div>
        </section>
        <section class="section section--horizontal section-horizontal-2 bg-black js-what-we-do">
            <div class="container">
                <div class="what-we-do fs-hyper title js-what-we-do__row">
                    What we&nbsp;do
                </div>
            </div>

        </section>
        <section class="section section--vertical section-vertical-1 bg-black-2">
            <div class="create-screen layout layout--half c-white">
                <div class="container">
                    <div class="create-screen__row">
                        <div class="create-screen__title title fs-160 overflow-hidden js-scroll-observe-el">
                            <div class="anim-up-from-overflow js-scroll-observe-el-inner">Design</div>
                        </div>
                        <div class="create-screen__content">
                            <div class="fs-20 c-grey anim-opacity delay-03 js-scroll-observe-el">
                                We conduct deep analysis and develop unique designs focusing on usability and core values of your brand
                            </div>
                            <ul class="create-screen__list anim-opacity delay-06 js-scroll-observe-el">
                                <li>Branding</li>
                                <li>Identity</li>
                                <li>UX/UI design</li>
                            </ul>
                            <div class="create-screen__background">
                                <div class="create-screen__img create-screen__img--1 bg-black-2 anim-down-from-overflow delay-03 overflow-hidden js-scroll-observe-el">
                                    <img loading="lazy" src="images/content/background-img-01.jpg" alt="">
                                </div>
                                <div class="create-screen__img create-screen__img--2 bg-black-2 anim-down-from-overflow delay-03 overflow-hidden js-scroll-observe-el">
                                    <img loading="lazy" src="images/content/background-img-02.jpg" alt="">
                                </div>
                                <div class="create-screen__img create-screen__img--3 bg-black-2 anim-down-from-overflow delay-06 overflow-hidden js-scroll-observe-el">
                                    <img loading="lazy" src="images/content/background-img-03.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="create-screen__labels anim-opacity delay-1 js-scroll-observe-el">
                            <div class="create-screen__label">
                                Figma
                            </div>
                            <div class="create-screen__label">
                                Adobe Photoshop
                            </div>
                            <div class="create-screen__label">
                                Adobe Illustrator
                            </div>
                            <div class="create-screen__label">
                                Adobe After Effects
                            </div>
                            <div class="create-screen__label">
                                Sketch
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="section section--vertical section-vertical-2 bg-black-3">
            <div class="create-screen layout layout--half c-white">
                <div class="container">
                    <div class="create-screen__row">
                        <div class="create-screen__title title fs-160 overflow-hidden js-scroll-observe-el">
                            <div class="anim-up-from-overflow js-scroll-observe-el-inner">Development</div>
                        </div>
                        <div class="create-screen__content">
                            <div class="fs-20 c-grey anim-opacity delay-03 js-scroll-observe-el">
                                LevelPro websites combine catchy designs, well-programmed code and clear text messages. They are ideal for SEO-optimisation and easy to maintain, use and develop
                            </div>
                            <ul class="create-screen__list anim-opacity delay-06 js-scroll-observe-el">
                                <li>Front-end</li>
                                <li>Back-end</li>
                            </ul>
                            <div class="create-screen__background">
                                <div class="create-screen__img create-screen__img--1 bg-black-3 anim-down-from-overflow delay-03 overflow-hidden js-scroll-observe-el">
                                    <img loading="lazy" src="images/content/background-img-01.jpg" alt="">
                                </div>
                                <div class="create-screen__img create-screen__img--2 bg-black-3 anim-down-from-overflow delay-03 overflow-hidden js-scroll-observe-el">
                                    <img loading="lazy" src="images/content/background-img-02.jpg" alt="">
                                </div>
                                <div class="create-screen__img create-screen__img--3 bg-black-3 anim-down-from-overflow delay-06 overflow-hidden js-scroll-observe-el">
                                    <img loading="lazy" src="images/content/background-img-03.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="create-screen__labels anim-opacity delay-1 js-scroll-observe-el">
                            <div class="create-screen__label">
                                React.js
                            </div>
                            <div class="create-screen__label">
                                HTML5
                            </div>
                            <div class="create-screen__label">
                                CSS3
                            </div>
                            <div class="create-screen__label">
                                TypeScript
                            </div>
                            <div class="create-screen__label">
                                JavaScript
                            </div>
                            <div class="create-screen__label">
                                Pug
                            </div>
                            <div class="create-screen__label">
                                PostCSS
                            </div>
                            <div class="create-screen__label">
                                Vue.js
                            </div>
                            <div class="create-screen__label">
                                Next.js
                            </div>
                            <div class="create-screen__label">
                                Astro
                            </div>
                            <div class="create-screen__label">
                                Webpuck
                            </div>
                            <div class="create-screen__label">
                                Laravel
                            </div>
                            <div class="create-screen__label">
                                PHP
                            </div>
                            <div class="create-screen__label">
                                Node.js
                            </div>
                            <div class="create-screen__label">
                                Python
                            </div>
                            <div class="create-screen__label">
                                MySQL
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="section section--vertical section-vertical-3 bg-black-2">
            <div class="create-screen layout layout--half c-white">
                <div class="container">
                    <div class="create-screen__row">
                        <div class="create-screen__title title fs-160 overflow-hidden js-scroll-observe-el">
                            <div class="anim-up-from-overflow js-scroll-observe-el-inner">Video production</div>
                        </div>
                        <div class="create-screen__content">
                            <div class="fs-20 c-grey anim-opacity delay-03 js-scroll-observe-el">
                                We conduct deep analysis and develop unique designs focusing on usability and core values of your brand
                            </div>
                            <ul class="create-screen__list anim-opacity js-scroll-observe-el" data-delay="0.6">
                                <li>Projects of any scale for b2c / b2b</li>
                                <li>Commercial & creative video production</li>
                                <li>UX/Ad campaigns design</li>
                                <li>Post-production in 72 hours</li>
                            </ul>
                            <div class="create-screen__background">
                                <div class="create-screen__img create-screen__img--1 bg-black-2 anim-down-from-overflow delay-03 overflow-hidden js-scroll-observe-el">
                                    <img loading="lazy" src="images/content/background-img-01.jpg" alt="">
                                </div>
                                <div class="create-screen__img create-screen__img--2 bg-black-2 anim-down-from-overflow delay-03 overflow-hidden js-scroll-observe-el">
                                    <img loading="lazy" src="images/content/background-img-02.jpg" alt="">
                                </div>
                                <div class="create-screen__img create-screen__img--3 bg-black-2 anim-down-from-overflow delay-06 overflow-hidden js-scroll-observe-el">
                                    <img loading="lazy" src="images/content/background-img-03.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="create-screen__labels anim-opacity delay-1 js-scroll-observe-el">
                            <div class="create-screen__label">
                                Adobe After Effects
                            </div>
                            <div class="create-screen__label">
                                Adobe Premiere Pro
                            </div>
                            <div class="create-screen__label">
                                Blender
                            </div>
                            <div class="create-screen__label">
                                Cinema 4D
                            </div>
                            <div class="create-screen__label">
                                3DS Max
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
    <section class="section section--mobile-normal">
        <div class="industry-screen layout container">
            <div class="industry-screen__head">
                <div class="title fs-100">
                    <div class="overflow-hidden js-scroll-observe-el">
                        <div class="anim-up-from-overflow js-scroll-observe-el-inner">Industry leaders trust us</div>
                    </div>
                </div>
                <div class="industry-screen__head-text fs-20 c-grey anim-opacity delay-03 js-scroll-observe-el">
                    Over the years LvlPro has earned a reputation of a trustworthy and professional team. We have clients from different spheres, which makes us flexible and always fresh for your boldest ideas
                </div>
            </div>
            <div class="industry-screen__row anim-opacity delay-03 js-scroll-observe-el" data-ratio="0.5">
                <div class="industry-screen__item">
                    <div class="industry-screen__img">
                        <img loading="lazy" src="images/content/afterpay.svg" alt="">
                    </div>
                    <div class="fs-20 c-black">Afterpay Corp.</div>
                </div>
                <div class="industry-screen__item">
                    <div class="industry-screen__img">
                        <img loading="lazy" src="images/content/airbnb.svg" alt="">
                    </div>
                    <div class="fs-20 c-black">Airbnb</div>
                </div>
                <div class="industry-screen__item">
                    <div class="industry-screen__img">
                        <img loading="lazy" src="images/content/asana.svg" alt="">
                    </div>
                    <div class="fs-20 c-black">Asana</div>
                </div>
                <div class="industry-screen__item">
                    <div class="industry-screen__img">
                        <img loading="lazy" src="images/content/booking.svg" alt="">
                    </div>
                    <div class="fs-20 c-black">Booking</div>
                </div>
                <div class="industry-screen__item">
                    <div class="industry-screen__img">
                        <img loading="lazy" src="images/content/dici.svg" alt="">
                    </div>
                    <div class="fs-20 c-black">Codici</div>
                </div>
                <div class="industry-screen__item">
                    <div class="industry-screen__img">
                        <img loading="lazy" src="images/content/level.svg" alt="">
                    </div>
                    <div class="fs-20 c-black">Level</div>
                </div>
            </div>

        </div>
    </section>
</main>
<div class="overlay-page _before" style="position: fixed;left: 0;width: 100%;height: 100%;z-index: 100;background-color: #222222; top: 100%"></div>
<%- footer() -%>


