<%
const headerBlack = require('./layouts/basic/header-black.ejs');
const footer = require('./layouts/basic/footer.ejs');

%>

<%- headerBlack()-%>

<div class="bradcrumbs anim-opacity js-scroll-observe-el" data-duration="0.5">
    <div class="container">
        <ul>
            <li>
                <a href="./main.html">Home</a>
            </li>
            <li>
                <span>Projects</span>
            </li>
        </ul>
    </div>
</div>

<main class="page">
    <section class="mb-80">
        <div class="container">
            <div class="head-main">
                <div class="head-main__start">
                    <div class="title title-arrow fs-160">
                        <div class="title-arrow__first overflow-hidden js-scroll-observe-el">
                            <div class="anim-up-from-overflow js-scroll-observe-el-inner" data-duration="0.5">Projects</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="projects-page pb-160">
        <div class="container">
            <div class="projects-page__nav">
                <a href="#" class="projects-page__nav-link projects-page__nav-link--active">All projects</a>
                <a href="#" class="projects-page__nav-link">Design</a>
                <a href="#" class="projects-page__nav-link">Development</a>
                <a href="#" class="projects-page__nav-link">Video production</a>
                <div class="field projects-page__select">
                    <select class="select js-select">
                        <option value="1">All projects</option>
                        <option value="2">Design</option>
                        <option value="3">Development</option>
                        <option value="4">Video production</option>
                    </select>
                </div>
            </div>
            <div class="projects-page__body">
                <div class="projects-page__row anim-opacity js-scroll-observe-el" data-duration="0.3" data-delay="0.3" data-ratio="0.3">
                    <a href="#" class="projects-page__item">
                        <div class="projects-page__item-video">
                            <video class="lazyload" muted loop playsinline autoplay data-src="videos/content-video-01.webm" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></video>
                        </div>
                        <div class="projects-page__item-text">
                            <div class="fs-20">Codici</div>
                            <div class="fs-20 c-grey">Video production</div>
                        </div>
                    </a>
                    <a href="#" class="projects-page__item">
                        <div class="projects-page__item-video">
                            <video class="lazyload" muted loop playsinline autoplay data-src="videos/content-video-02.webm" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></video>
                        </div>
                        <div class="projects-page__item-text">
                            <div class="fs-20">Codici</div>
                            <div class="fs-20 c-grey">Video production</div>
                        </div>
                    </a>
                </div>
                <div class="projects-page__row anim-opacity js-scroll-observe-el" data-duration="0.3" data-delay="0.5" data-ratio="0.5">
                    <a href="#" class="projects-page__item">
                        <div class="projects-page__item-video">
                            <video class="lazyload" muted loop playsinline autoplay data-src="videos/content-video-03.webm" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></video>
                        </div>
                        <div class="projects-page__item-text">
                            <div class="fs-20">Codici</div>
                            <div class="fs-20 c-grey">Video production</div>
                        </div>
                    </a>
                    <a href="#" class="projects-page__item">
                        <div class="projects-page__item-video">
                            <video class="lazyload" muted loop playsinline autoplay data-src="videos/content-video-04.webm" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></video>
                        </div>
                        <div class="projects-page__item-text">
                            <div class="fs-20">Codici</div>
                            <div class="fs-20 c-grey">Video production</div>
                        </div>
                    </a>
                </div>
                <div class="projects-page__row anim-opacity js-scroll-observe-el" data-duration="0.5" data-delay="0.5" data-ratio="0.5">
                    <a href="#" class="projects-page__item">
                        <div class="projects-page__item-video">
                            <video class="lazyload" muted loop playsinline autoplay data-src="videos/content-video-01.webm" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></video>
                        </div>
                        <div class="projects-page__item-text">
                            <div class="fs-20">Codici</div>
                            <div class="fs-20 c-grey">Video production</div>
                        </div>
                    </a>
                    <a href="#" class="projects-page__item">
                        <div class="projects-page__item-video">
                            <video class="lazyload" muted loop playsinline autoplay data-src="videos/content-video-02.webm" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></video>
                        </div>
                        <div class="projects-page__item-text">
                            <div class="fs-20">Codici</div>
                            <div class="fs-20 c-grey">Video production</div>
                        </div>
                    </a>
                </div>
                <div class="projects-page__row anim-opacity js-scroll-observe-el" data-duration="0.5" data-delay="0.5" data-ratio="0.5">
                    <a href="#" class="projects-page__item">
                        <div class="projects-page__item-video">
                            <video class="lazyload" muted loop playsinline autoplay data-src="videos/content-video-03.webm" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></video>
                        </div>
                        <div class="projects-page__item-text">
                            <div class="fs-20">Codici</div>
                            <div class="fs-20 c-grey">Video production</div>
                        </div>
                    </a>
                    <a href="#" class="projects-page__item">
                        <div class="projects-page__item-video">
                            <video class="lazyload" muted loop playsinline autoplay data-src="videos/content-video-04.webm" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></video>
                        </div>
                        <div class="projects-page__item-text">
                            <div class="fs-20">Codici</div>
                            <div class="fs-20 c-grey">Video production</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="projects-page__more">
                <a href="#" class="hover-line btn c-red info-screen__head-link" data-duration="0.5" data-delay="0.5" data-ratio="0.5">
                    Show more
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 3.75V19.6497M5.25 13.5L12 20.25L18.75 13.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"/>
                    </svg>
                </a>

            </div>
        </div>
    </section>
</main>
<div class="overlay-page _before" style="position: fixed;left: 0;width: 100%;height: 100%;z-index: 100;background-color: #222222; top: 100%"></div>
<div class="overlay-page _after" style="position: fixed;left: 0;width: 100%;height: 100%;z-index: 100;background-color: #222222; top: 0"></div>
<%- footer() -%>


