<%
const header = require('./layouts/basic/header.ejs');
const footer = require('./layouts/basic/footer.ejs'); 
%> 
<%- header()-%>
<main class="page">
    <div class="container">
        <div class="title fs-hyper">title fs-hyper</div>
        <h1 class="title fs-160">title fs-160</h1>
        <h2 class="title fs-120">title fs-120</h2>
        <h2 class="title fs-100">title fs-100</h2>
        <h3 class="title fs-70">title fs-70</h3>
        <h4 class="title fs-40">title fs-40</h4>
        <h5 class="title fs-24">title fs-24</h5>
        
        <div class="fs-40">text fs-40</div>
        <div class="fs-24">text fs-24</span></div>
        <div class="fs-20">text fs-20</div>
        <div>text-body(fs-20)</div>
        <div class="fs-14">text fs-14</div>
        
        <a href="#" class="btn">
            Просто кнопка с иконкой
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 4.25V20.1497M5.25 14L12 20.75L18.75 14" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"/>
            </svg>
        </a>
    </div>
</main>
<%- footer() -%>
