.contacts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media ($max1279) {
    padding: 106px 0 50px;
  }
  .bradcrumbs {
    margin-top: 0;
  }
  &__row {
    text-align: center;

  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media ($max1023) {
      gap: 24px;
    }
  }
}

.not-found {
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    position: relative;
    z-index: 1;
    .btn {
      align-self: center;
      margin-top: 40px;
      @media ($max1023) {
        margin-top: 24px;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media ($max767) {
      display: none;
    }
  }

  &__err {
    @media ($max1023) {
      display: none;
    }
  }

  &__img {
    position: absolute;
    width: pct-s(560, 1920);
    top: 0;
    min-width: 354px;
    &--1 {
      left: 80px;
      opacity: 1;
      top: 50%;
      transform: translateY(-50%);
      @media ($max1023) {
        left: 20px;
        top: 15%;
        transform: translateY(-15%);
      }
    }
    &--2 {
      top: 70%;
      right: pct-s(210, 1920);
      transform: translateY(-70%);
      @media ($max1023) {
        top: auto;
        bottom: 80px;
        transform: none;
        right: pct-s(145, 968);
      }
    }
    &--3 {
      top: 10%;
      width: pct-s(410, 1920);
      right: 80px;
      min-width: 229px;
      @media ($max1023) {
        right: 20px;
        top: 25%;
      }
    }
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}