.main-screen {
  position: relative;
  color: $white;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #00000033;
    }
    video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &__body {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 15%;
    @media ($max1440) {
      gap: 20px;
    }
  }
  &__row {
    width: 100%;
  }
  &__title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
    .title {
      white-space: nowrap;
    }
  }
  &__desc {
    width: 100%;
    max-width: 393px;
    @media ($max767) {
      display: none;
    }
    &._mobile {
      display: none;
      @media ($max767) {
        display: block;
      }
    }
  }
  &__slider {
    height: 1.3em;
    line-height: 1.3em;

    @media ($max767) {
      margin-bottom: 16px;
    }

    &._animated {
      &:before{
        opacity: 1;
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0.625em;
      height: 0.625em;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik02Mi41IDUwTDgxLjI1IDY4Ljc1TDYyLjUgODcuNU0yNSAxMi41VjY4Ljc1SDc1IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEwIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+Cjwvc3ZnPgo=");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center center;
      margin-bottom: 0.21em;
      opacity: 0;
      transition: opacity 0.5s 0.5s;
      @media ($max767) {
        display: none;
      }
    }
      
    &.swiper {
      padding-left: 0.625em;
      @media ($max767) {
        padding-left: 0;
      }
    }

    .swiper-slide{
      white-space: nowrap;
    }
  }
  &__scroll {
    flex-shrink: 0;
    padding-bottom: 24px;
    @media ($max1023) {
      display: none;
    }
  }
}