.banner-service-detailed {
  &__img {
    min-height: 100vh;
    overflow: hidden;
    &:before {
      padding-bottom: pct-s(1080, 1920);
      @media ($max1023) {
        padding-bottom: pct-s(1024, 768);
      }
      @media ($max767) {
        padding-bottom: pct-s(640, 360);
      }
    }
  }
}
