/**
 * Fonts
*/

// IBMPlexMono-Regular 400

@font-face {
    font-family: 'IBMPlexMono';
    src: url('./../fonts/IBMPlexMono-Regular.woff2') format('woff2'),
		url('./../fonts/IBMPlexMono-Regular.woff') format('woff'),
		url('./../fonts/IBMPlexMono-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}


// VelaSans-Medium 500

@font-face {
  font-family: 'VelaSans';
  src: url('./../fonts/VelaSans-Medium.woff2') format('woff2'),
  url('./../fonts/VelaSans-Medium.woff') format('woff'),
  url('./../fonts/VelaSans-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}