.page {
	flex: 1 1 auto;
}

.section-wrapper {
	display: flex;
	flex-wrap: nowrap;
}

.section {
	min-width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	flex-shrink: 0;
	&1 {

	}
	h2 {
		color: #fff;
		font-size: 400px;
	}
}

.section-vertical {
	background-color: #fff;
}

#pinContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.panel {
	height: 100%;
	width: 100%;
	position: absolute;
}