.page {
	flex: 1 1 auto;
	z-index: 1;

	&-template {
		&__section {
			margin-bottom: 80px;
			@media ($max1279) {
				margin-bottom: 60px;
			}
			@media ($max1023) {
				margin-bottom: 40px;
			}
		}
		&__row {
			display: flex;
			flex-direction: column;
			gap: 32px;
		}
	}
}
