.page {
	flex: 1 1 auto;
}

.layout {
	padding-top: 80px;
	padding-bottom: 80px;
	width: 100%;
	height: 100%;
	@media ($max1279) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	&--half {
		padding-top: 40px;
		padding-bottom: 40px;
		@media ($max1023) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
}

.section-wrapper {
	display: flex;
	flex-wrap: nowrap;
}

.horizontal-section {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	@media ($max1279) {
		display: block;
	}
}

.section {
	min-width: 100vw;
	height: 100vh;
	flex-shrink: 0;
	width: auto;
	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.btn {
			align-self: normal;
		}
	}
	&--vertical {
		position: absolute;
		@media ($max1279) {
			position: static;
		}
	}
	h2 {
		color: #fff;
		font-size: 400px;
	}
	&--mobile-normal {
		@media ($max1279) {
			height: auto;
		}
	}
}
