.title,h1,h2,h3,h4,h5,h6
    font-family: $ff-title
    line-height: 1.1
    font-weight: 500
.fs
    &-14
        font-size: 14px
        line-height: 1.4
    &-20
        font-size: 20px
        line-height: 1.4
        @media ($max1440)
            font-size: 16px
    &-24
        font-size: 24px
        @media ($max767)
            font-size: 16px

    &-40
        font-size: 40px
        @media ($max1440)
            font-size: 32px
        @media ($max767)
            font-size: 16px
        &-text
            line-height: 1.4
            @media ($max767)
                font-size: 24px

    &-70
        font-size: 70px
        @media ($max1440)
            font-size: 48px
        @media ($max1023)
            font-size: 48px
        @media ($max767)
            font-size: 24px
    &-100
        font-size: 100px
        @media ($max1440)
            font-size: 70px
        @media ($max1023)
            font-size: 48px
        @media ($max767)
            font-size: 24px
    &-120
        font-size: 120px
        @media ($max1440)
            font-size: 70px
        @media ($max1023)
            font-size: 64px
        @media ($max767)
            font-size: 32px
    &-160
        font-size: 160px
        @media ($max1440)
            font-size: 100px
        @media ($max1023)
            font-size: 80px
        @media ($max767)
            font-size: 40px
    &-hyper
        font-size: 600px
        white-space: nowrap
        @media ($max1440)
            font-size: 460px
        @media ($max1023)
            font-size: 200px
            line-height: 0.9
        @media ($max767)
            font-size: 100px

    &-32-mob
        @media ($max767)
            font-size: 32px
    &-24-mob
        @media ($max767)
            font-size: 24px

.c-black
    color: $black
.c-black-2
    color: $black-2
.c-black-3
    color: $black-3
.c-black-4
    color: $black-4
.c-grey
    color: $grey
.c-grey-2
    color: $grey-2
.c-grey-3
    color: $grey-3
.c-white
    color: $white
.c-red
    color: $red

.link-grey
    color: $grey
    transition: color $time-03
    @media ($hover)
        &:hover
            color: $white

.btn
    display: inline-flex
    align-items: center
    justify-content: center
    gap: 8px
    align-self: flex-start
    transition: all $time-03
    &[disabled]
        opacity: 0.5
    &--full-width
        width: 100%
    &--red
        height: 56px
        padding: 0 16px
        background-color: $red
        color: $white
        font-size: 20px
        @media ($hover)
            &:hover
                background-color: $black
        &:focus-visible
            &:not([disabled])
                background-color: $black
    &--hover-red
        @media ($hover)
            &:hover
                color: $red
    img,svg
        flex-shrink: 0
        width: 24px
        height: 24px
        @media ($max1440)
            width: 20px
            height: 20px

.hover-line
    position: relative
    @media ($hover)
        &:hover
            &:after
                transform: none
                opacity: 1
    &:after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        border-top: solid 1px currentColor
        opacity: 0
        transform: scaleX(0)
        transform-origin: left
        transition: transform $time-03, opacity $time-03

.mb
    &-80
        margin-bottom: 80px

.bg-black
    background-color: $black
.bg-black-2
    background-color: $black-2