/**
 * Variables
*/

/* Breakpoints */
$max767: 'max-width: 767px';
$min768: 'min-width: 768px';
$max1023: 'max-width: 1023px';
$min1024: 'min-width: 1024px';
$max1279: 'max-width: 1279px';
$min1280: 'min-width: 1280px';
$max1440: 'max-width: 1440px';
$min1441: 'min-width: 1441px';
$hover: 'any-hover: hover';

// Fonts
$ff-default: 'IBMPlexMono', sans-serif;
$ff-title: 'VelaSans', sans-serif;

/* Colour palette */
$black: #000;
$black-2: #222222;
$black-3: #333333;
$black-4: #444444;
$grey: #8A8A8A;
$grey-2: #DADADA;
$grey-3: #F1F1F1;
$white: #fff;
$red: #E23232;

$time-03: 0.3s;