/**
 * Variables
*/

/* Breakpoints */
$max374: 'max-width: 374px';
$max479: 'max-width: 479px';
$min480: 'min-width: 480px';
$max574: 'max-width: 574px';
$min575: 'min-width: 575px';
$max767: 'max-width: 767px';
$min768: 'min-width: 768px';
$max1023: 'max-width: 1023px';
$min1024: 'min-width: 1024px';
$max1279: 'max-width: 1279px';
$min1280: 'min-width: 1280px';
$max1439: 'max-width: 1439px';
$min1440: 'min-width: 1440px';
$max1919: 'max-width: 1919px';
$min1920: 'min-width: 1920px';
$hover: 'any-hover: hover';

// Fonts
$fi: 'Inter', sans-serif;
$fb: 'Benzin', sans-serif;

/* Colour palette */
$black: #000;
$white: #fff;
