<% 
const headerLayout = require('../../components/header-layout.ejs');
%> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    <meta name="description" content="Template">
    <meta name="keywords" content="Template">
    <meta property="og:title" content="Template">
    <meta property="og:description" content="Template">
    <meta property="og:image" content="images/content/test.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
</head>
<body>
<div id="wrapper" class="wrapper">
    <header class="header js-header">
        <%- headerLayout()-%>
    </header>