<div data-popup="feedback" class="popup popup--side">
    <form action="#" data-anim-step="0" class="popup__wrapper form js-form">
        <div class="popup__head">
            <div>
                <div data-anim-step="1" class="popup__title title fs-70 fs-32-mob">Boost your project</div>
                <div data-anim-step="2" class="popup__text c-grey">Fill in the form. Our manager will contact you soon to discuss the details of your project</div>
            </div>
            <button type="button" data-popup-close class="popup__close">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25 7L7 25M25 25L7 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"/>
                </svg>
            </button>
        </div>
        <div class="popup__body popup__scroll-container">
            <div data-anim-step="3" class="form__body">
                <div class="form__col">
                    <div class="form__subtitle title fs-24 fs-24-mob">Task</div>
                    <div class="form__item">
                        <div class="field">
                            <input type="text" class="field__input" placeholder="Describe the task in a free form" data-required="text">
                            <span class="field__error">error</span>
                        </div>
                    </div>
                </div>
                <div class="form__col">
                    <div class="form__subtitle title fs-24 fs-24-mob">Budget</div>
                    <div class="form__item">
                        <div class="field">
                            <select class="select js-select" data-required="select">
                                <option data-placeholder="true">Select your budget</option>
                                <option value="1">Budget1</option>
                                <option value="2">Budget2</option>
                                <option value="3" disabled>Budget3 disabled</option>
                                <option value="4">Budget4 LONG TEXT Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, illum.</option>
                                <option value="5">Budget5</option>
                                <option value="6">Budget6</option>
                            </select>
                            <span class="field__error">error</span>
                        </div>
                    </div>
                </div>
                <div class="form__col">
                    <div class="form__subtitle title fs-24 fs-24-mob">Contacts</div>
                    <div class="form__item">
                        <div class="field">
                            <input type="text" class="field__input" placeholder="Name" data-required="text">
                            <span class="field__error">error</span>
                        </div>
                    </div>
                    <div class="form__item">
                        <div class="field">
                            <input type="text" class="field__input" placeholder="Company" data-required="text">
                            <span class="field__error">error</span>
                        </div>
                    </div>
                    <div class="form__item">
                        <div class="field">
                            <input type="text" class="field__input" placeholder="Phone number" data-required="tel">
                            <span class="field__error">error</span>
                        </div>
                    </div>
                    <div class="form__item">
                        <div class="field">
                            <input type="text" class="field__input" placeholder="Email" data-required="email">
                            <span class="field__error">error</span>
                        </div>
                    </div>
                </div>
                <div class="form__col">
                    <div class="form__item">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__input" data-required="checkbox">
                                <span class="checkbox__body">
                                    <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.25 4.75L3.5 7L8.75 1.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"/>
                                    </svg>
                                </span>
                                <span class="checkbox__text">
                                    I agree to the <a href="#" class="hover-line">processing of personal data</a>
                                </span>
                            </label>
                            <span class="field__error">error</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div data-anim-step="4" class="popup__bottom">
            <button type="submit" class="btn btn--red btn--full-width">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 12L19.5 16.5L15 21M6 3V16.5H18" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"/>
                </svg>
                Send
            </button>
        </div>
    </form>
    <div data-anim-step="0" data-anim-step-after-request class="popup__wrapper _playing js-form-after-request" style="display: none;">
        <div class="popup__body popup__scroll-container">
            <div class="form-request-body">
                <div>
                    <div data-anim-step="1" data-anim-step-after-request class="title fs-70 fs-32-mob _playing">Failed to submit application</div>
                    <div data-anim-step="2" data-anim-step-after-request class="popup__text c-grey _playing">Reload the page or try submitting the form later. We are already working to fix the error</div>
                </div>
                <div data-anim-step="3" data-anim-step-after-request class="popup__bottom _playing">
                    <button type="button" data-popup-close class="btn c-red">
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.125 4.875L4.875 16.125M16.125 16.125L4.875 4.875" stroke="#E23232" stroke-width="1.5" stroke-linecap="square"/>
                            </svg>
                            Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
