body._hide-overlay-page-after,
body._hide-loader {
  .header {
    opacity: 1;
  }
}
body._hide-loader {
  .header {
    transition-delay: 1s;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s 0.5s;
  &:not(._open-menu) {
    .header {
      &__actions {
        @media ($max767) {
          opacity: 0;
          pointer-events: none;
          transform: translateY(20px);
          transition: all $time-03;
        }
      }
    }
    .menu-header {
      @media ($max1023) {
        opacity: 0;
        pointer-events: none;
      }
      &__links {
        opacity: 0;
        transform: translateY(20px);
        transition: all $time-03;
      }
    }
    .nav-header {
      @media ($max1023) {
        opacity: 0;
        transform: translateY(20px);
        transition: all $time-03;
      }
    }
  }
  &._open-menu {
    .header {
      &__row {
        &:before {
          opacity: 1;
        }
      }
      &__logo {
        color: $white;
      }
      &__request {
        .btn {
          color: $white;
        }
      }
      &__burger {
        color: $white;
        svg {
          &:first-child {
            display: none;
          }
          &:last-child {
            display: block;
          }
        }
      }
    }
    .lang-header {
      &__trigger {
        color: $white;
      }
      &__list {
        &:before {
          @media ($max767) {
            opacity: 1;
          }
        }
      }
    }
  }
  &._open-submenu {
    .nav-header {
      &__link {
        color: $grey;
      }
    }
    .lang-header {
      &._open {
        .lang-header {
          &__trigger {
            color: $black;
          }
        }
      }
      &__list {
        a {
          @media ($hover) {
            &:hover {
              color: $black;
            }
          }
        }
      }
      &__trigger {
        color: $black;
      }
    }
    .sublist-header {
      &__wrapper {
        transition: opacity $time-03 $time-03;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  &._white {
    &:not(._open-submenu):not(._open-menu) {
      color: $white;
      .nav-header {
        &__link {
          @media ($hover) {
            &:hover {
              color: $white;
            }
          }
        }
      }
      .lang-header {
        &__list {
          a {
            @media ($hover) {
              &:hover {
                color: $white;
              }
            }
          }
        }
      }
    }
  }
  &._clear-transitions {
    transition: none;
    * {
      transition: none;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    min-height: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
    @media ($max1023) {
      padding-top: 16px;
      padding-bottom: 16px;
      min-height: 56px;
    }
    @media ($max767) {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &:before {
      @media ($max1023) {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 96px;
        background-color: $black-2;
        z-index: 1;
        pointer-events: none;
        opacity: 0;
        transition: opacity $time-03;
      }
    }
  }
  &__logo {
    z-index: 1;
    flex-shrink: 0;
    display: block;
    width: 122px;
    height: 32px;
    margin-right: 96px;
    @media ($max1279) {
      margin-right: 40px;
    }
    @media ($max1023) {
      width: 92px;
      height: 24px;
    }
    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__actions {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 410px;
    width: 100%;
    margin-left: 69px;
    @media ($max1440) {
      max-width: 306px;
    }
    @media ($max1279) {
      margin-left: 40px;
    }
    @media ($max1023) {
      flex: 1 1 auto;
      max-width: 100%;
      justify-content: flex-end;
      gap: 69px;
    }
    @media ($max767) {
      justify-content: space-between;
      width: 100%;
      order: 1;
      margin-top: 16px;
      margin-left: 0;
      gap: 12px;
      transition: all $time-03 $time-03;
    }
    > div {
      line-height: 0;
    }
  }
  &__burger {
    z-index: 1;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-left: 24px;
    @media ($min1024) {
      display: none;
    }
    svg {
      width: 100%;
      height: 100%;
      &:last-child {
        display: none;
      }
    }
  }
  &__request {
    .btn {
      @media ($max767) {
        color: $white;
      }
    }
  }
}
.menu-header {
  flex: 1 1 auto;

  @media ($max1023) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black-2;
    color: $white;
    padding: 136px 40px 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all $time-03;
  }

  @media ($max767) {
    padding: 119px 20px 0;
  }

  &__wrapper {
    @media ($max1023) {
      display: flex;
      flex-direction: column;
      min-height: 100%;
      padding-bottom: 40px;
    }
    @media ($max767) {
      padding-bottom: 24px;
    }
  }
  &__links {
    margin-top: auto;
    padding-top: 40px;
    transition: all $time-03 $time-03 * 2;

    @media ($max767) {
      padding-top: 24px;
      transition-delay: $time-03 * 3;
    }
    @media ($min1024) {
      display: none;
    }
    ul {
      display: flex;
      justify-content: space-between;
      @media ($max767) {
        flex-wrap: wrap;
      }
      li {
        @media ($max767) {
          padding: 8px 0;
        }
        &:first-child {
          @media ($max767) {
            order: 1;
            width: 100%;
            padding-bottom: 0;
            border-top: solid 1px $black-4;
          }
        }
      }
    }
  }
}
.nav-header {
  @media ($max1023) {
    transition: all $time-03 $time-03;
  }
  @media ($max767) {
    transition-delay: $time-03 * 2;
  }
  &__list {
    display: flex;
    gap: 32px;
    @media ($max1023) {
      flex-direction: column;
      gap: 8px;
    }
    &:before {
      @media ($max1023) {
        content: attr(data-title-mob);
        display: block;
        color: $grey;
        margin-top: 32px;
        margin-bottom: 8px;
      }
    }
  }
  &__item {
    &:not(._open-submenu) {
      .sublist-header {
        @media ($min1024) {
          opacity: 0;
          transform: scaleY(0);
        }
      }
    }
    &._open-submenu {
      .nav-header__link {
        color: $black;
        svg {
          transform: scaleY(-1);
        }
      }
    }
    &.js-submenu {
      @media ($max1023) {
        order: -1;
      }
    }
  }
  &__link {
    &:not(.btn) {
      transition: color $time-03;
      @media ($max1023) {
        font-family: $ff-title;
        font-size: 64px;
        line-height: 1.1;
        font-weight: 500;
      }
      @media ($max767) {
        font-size: 40px;
      }
      @media ($hover) {
        &:hover {
          color: $black;
        }
      }
    }
    &.btn {
      gap: 4px;
      @media ($max1023) {
        color: $grey;
        margin-bottom: 8px;
        pointer-events: none;
      }
      svg {
        transition: transform $time-03;
        @media ($max1023) {
          display: none;
        }
      }
    }
  }
}
.sublist-header {
  display: block;
  @media ($min1024) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    z-index: 1;
    padding: 80px 0 40px;
    transform-origin: top;
    transition: all $time-03;
    z-index: -1;
  }
  &:before {
    @media ($min1024) {
      content: "";
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      border-top: solid 1px $grey-2;
    }
  }
  .container {
    @media ($max1023) {
      padding-right: 0;
      padding-left: 0;
    }
    @media ($min1024) {
      padding-top: 40px;
    }
  }
  .header__logo {
    @media ($max1023) {
      display: none;
    }
  }
  &__wrapper {
    display: flex;
    position: relative;
    transition: all $time-03;
    @media ($min1024) {
      opacity: 0;
      pointer-events: none;
    }
    &:after {
      content: "";
      display: block;
      flex-shrink: 0;
      width: pct-s(410, 1760);
      margin-left: 30px;
      @media ($max1023) {
        display: none;
      }
    }
  }
  &__col {
    flex: 1 1 auto;
  }
  &__item {
    display: flex;
    margin-bottom: 24px;
    @media ($max1023) {
      margin-bottom: 8px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link-wrapper {
    flex-shrink: 0;
    align-self: flex-start;
    display: block;
    width: 260px;
    margin-right: 40px;
    @media ($max1440) {
      width: 144px;
    }
    @media ($max1023) {
      width: 100%;
      margin-right: 0;
    }
  }
  &__link {
    transition: color $time-03;
    @media ($max1023) {
      width: 100%;
      font-family: $ff-title;
      font-size: 64px;
      line-height: 1.1;
      font-weight: 500;
      color: $white;
    }
    @media ($max767) {
      font-size: 40px;
    }
    @media ($hover) {
      &:hover {
        color: $red;
      }
    }
  }
  &__list {
    @media ($max1023) {
      display: none;
    }
  }
  &__list-item {
    margin-bottom: 8px;
    &:not(._open-last-lvl) {
      .sublist-header {
        &__block {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
    &._open-last-lvl {
      .sublist-header {
        &__block {
          opacity: 1;
          pointer-events: auto;
        }
        &__list-link {
          color: $red;
          &:after {
            transform: none;
            opacity: 1;
          }
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__list-link {
    display: inline;
    transition: color $time-03;
    &:after {
      bottom: -1px;
    }
  }
  &__block {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: pct-s(410, 1760);
    transition: all $time-03;
  }
  &__img {
    display: block;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 16px;

    > *:last-child {
      text-align: right;
    }
  }
}
.lang-header {
  position: relative;
  &:not(._open) {
    .lang-header {
      &__wrapper {
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
      }
    }
  }
  &._open {
    .lang-header {
      &__trigger {
        svg {
          transform: scaleY(-1);
        }
        &:after {
          transform: none;
          opacity: 1;
        }
      }
    }
  }
  &__trigger {
    position: relative;
    transition: color $time-03;

    @media ($max767) {
      color: $white;
    }

    &:after {
      bottom: -1px;
    }
    svg {
      transition: transform $time-03;
    }
  }
  &__wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    transition: all $time-03;
  }
  &__list {
    position: relative;
    margin-top: 4px;
    padding-top: 5px;
    padding-bottom: 8px;

    &:before {
      @media ($max767) {
        content: "";
        z-index: -1;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -8px;
        width: calc(100% + 16px);
        background: $black-2;
        opacity: 0;
      }
    }
    li {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      transition: color $time-03;
      @media ($hover) {
        &:hover {
          color: $black;
        }
      }
    }
  }
}
